@charset "ISO-8859-1";
h1
{
	font-family:Clarendon BT;
	color:Skyblue;
	text-shadow: 2px 2px black;
}
h2
{
	text-shadow: 2px 2px black;
}
h3
{
	font-family:Georgia;
	text-shadow: -1px 0 pink, 0 1px pink, 1px 0 pink, 0 -1px pink;
}
.form-control {
    border: 5px solid black; 
   
}
